a {
  text-decoration: none;
  color: white; }
  a:hover {
    color: orange !important; }

.representante {
  color: white; }

section div h2 {
  text-align: center;
  width: 40rem; }

nav ul li {
  transition: all .5s; }

nav ul li:hover {
  transform: scale(1.1, 1.1); }

.carousel-inner img {
  width: 100%;
  max-height: 600px;
  max-width: 1400px; }

.carousel {
  padding-left: .5rem; }

.bgTerciario {
  background-color: wheat; }

footer div {
  color: orange;
  margin-top: 10px; }

@media only screen and (max-width: 768px) {
  .navbar-brand {
    width: 170px; }
  .cards {
    width: 100%;
    text-align: center; }
  .items {
    margin: auto; }
  iframe {
    width: 100%; } }

.mapa {
  background-color: black; }

.bg2 {
  background-color: orange; }

.texto, h1, h3 p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

h1 {
  font-weight: 1000;
  text-align: center; }

h3 p {
  font-weight: 400; }
