a {
    text-decoration: none;
    color: $colorBlanco;

    &:hover {
        color: $colorSecundario;
        margin-top: 1.6rem;
    }
}

.representante {
    color: $colorBlanco
}

section {
    div {
        h2 {
            text-align: center;
            width: 40rem;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    }
}